@import url('./header.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    'hd'
    'mn'
    'ft';
}

main {
  border: 1px solid red;
  grid-area: mn;
}

footer {
  border: 1px solid red;
  grid-area: ft;
}

@media screen and (max-width: 425px) {
  .layout {
    grid-template-rows: 100px auto 80px;
  }
}
