header {
  border: 1px solid red;
  grid-area: hd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-size: 22px;
}

@media screen and (max-width: 425px) {
  header {
    flex-direction: column;
  }
}
